@import url("common.css");

@import url("multiselect.css");

#content {
	float: right;
	width: 78%;
	padding-left: 0.5%;
	padding-right: 0.5%;
}

#content .textbox {
	width: 320px;
	background-image: url('../images/search.jpg');
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 21;
	margin-right: 0.4em;
}

#toppanel {
	height: 22px;
	background-color: #eee;
	padding: 0.8%;
}

#keywordsearchpanel {
	margin: 3% 0% 3% 1%;
}

#savedsearchespanelbody {
	height: 300;
	border-style: solid;
	border-width: 1;
	border-color: #fff #ddd #ddd #ddd;
	padding: 0.4em 0.5em 0.5em 0.5em;
	line-height: 1.4em;
	overflow: auto;
}