@import url("common.css");
@import url("displaytag.css");

#toppanel {
	width: 40%;
	margin: 1em auto 0 auto;
	padding: 1%;
}

#centerpanel {
	border-style: solid;
	border-width: 1;
	border-color: #fff #ddd #fff #ddd;
	padding: 0% 1% 0% 1%;
}

#centerpanelcontent {
	border-style: solid; 
	border-width: 1; 
	border-color: #ddd #fff #ddd #fff; 
	height: 360;
	padding: 1% 0 1% 0;
	overflow: auto;
}

#bottompanel {
	border-style: solid;
	border-width: 1;
	border-color: #fff #ddd #fff #ddd;
	padding: 1%;
}