<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>CaB2B Admin Console</display-name>

	<env-entry>
		<env-entry-name>DataSource</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>java:/DS-NAME</env-entry-value>
	</env-entry>

	<filter>
		<filter-name>LoginChecker</filter-name>
		<filter-class>
			edu.wustl.cab2b.admin.preactionlogic.AuthenticationProcessor
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginChecker</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>



	<listener>
		<listener-class>
			edu.wustl.cab2b.admin.listeners.Cab2bAdminContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.apache.struts2.tiles.StrutsTilesListener
		</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>jsp/default.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>/custom-tags</taglib-uri>
			<taglib-location>
				/WEB-INF/tlds/customTags.tld
			</taglib-location>
		</taglib>

	</jsp-config>
	<!-- FLEX Configuration START-->

	<context-param>
		<param-name>flex.class.path</param-name>
		<param-value>
			/WEB-INF/flex/hotfixes,/WEB-INF/flex/jars
		</param-value>
	</context-param>

	<!-- Http Flex Session attribute and binding listener support -->
	<!--listener>
		<listener-class>flex.messaging.HttpFlexSession</listener-class>
		</listener-->

	<!-- MessageBroker Servlet -->
	<servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<display-name>MessageBrokerServlet</display-name>
		<servlet-class>
			flex.messaging.MessageBrokerServlet
		</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>flex.write.path</param-name>
			<param-value>/WEB-INF/flex</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FlexMxmlServlet</servlet-name>
		<display-name>MXML Processor</display-name>
		<description>Servlet wrapper for the Mxml Compiler</description>
		<servlet-class>flex.bootstrap.BootstrapServlet</servlet-class>
		<init-param>
			<param-name>servlet.class</param-name>
			<param-value>
				flex.webtier.server.j2ee.MxmlServlet
			</param-value>
		</init-param>
		<init-param>
			<param-name>webtier.configuration.file</param-name>
			<param-value>
				/WEB-INF/flex/flex-webtier-config.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FlexSwfServlet</servlet-name>
		<display-name>SWF Retriever</display-name>
		<servlet-class>flex.bootstrap.BootstrapServlet</servlet-class>
		<init-param>
			<param-name>servlet.class</param-name>
			<param-value>
				flex.webtier.server.j2ee.SwfServlet
			</param-value>
		</init-param>
		<!-- SwfServlet must be initialized after MxmlServlet -->
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FlexForbiddenServlet</servlet-name>
		<display-name>Prevents access to *.as/*.swc files</display-name>
		<servlet-class>flex.bootstrap.BootstrapServlet</servlet-class>
		<init-param>
			<param-name>servlet.class</param-name>
			<param-value>
				flex.webtier.server.j2ee.ForbiddenServlet
			</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>FlexInternalServlet</servlet-name>
		<servlet-class>flex.bootstrap.BootstrapServlet</servlet-class>
		<init-param>
			<param-name>servlet.class</param-name>
			<param-value>
				flex.webtier.server.j2ee.filemanager.FileManagerServlet
			</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FlexMxmlServlet</servlet-name>
		<url-pattern>*.mxml</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FlexSwfServlet</servlet-name>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FlexForbiddenServlet</servlet-name>
		<url-pattern>*.as</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FlexForbiddenServlet</servlet-name>
		<url-pattern>*.swc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FlexInternalServlet</servlet-name>
		<url-pattern>/flex-internal/*</url-pattern>
	</servlet-mapping>
	<taglib>
		<taglib-uri>FlexTagLib</taglib-uri>
		<taglib-location>
			/WEB-INF/lib/flex-bootstrap-jsp.jar
		</taglib-location>
	</taglib>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/jsp/GlobalExceptionPage.jsp</location>
	</error-page>




</web-app>
