@import url("common.css");

#savedsearchespanel {
	padding: 0 5% 0 1%;
}

#savedsearchespanelbody {
	height: 420;
	border-style: solid;
	border-width: 1;
	border-color: #fff #ddd #ddd #ddd;
	padding: 0.5em;
	line-height: 1.4em;
	white-space: nowrap;
	overflow: auto;
}

.selectedquery {
	font-weight: bold;
	font-size: 0.79em;
	color: #000;
	text-decoration: none;
	font-family: sans-serif, Arial, Helvetica;
}

#definelimitspanel {
	float: right;
	width: 75.5%;
	padding-right: 0.5%;
}

#definelimitspanelbody {
	height: 410;
	width: 100%;
	overflow: auto;
}

#definelimitspaneltable {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

#definelimitspaneltable td {
	padding-right: 1.5em;
}

.labelpanel {
	font-family: sans-serif, Arial, Helvetica;
	font-size: 0.79em;
	font-weight: bold;
	background-color: #CCCCCC;
	color: #000000;
	text-align: left;
}

.labelpanelalternate {
	font-family: sans-serif, Arial, Helvetica;
	font-size: 0.8em;
	color: #000000;
	padding-left: 0.8em;
}

.formfieldspanel {
	background-color: #EAEAEF;
}

.formfieldspanelalternate {
	background-color: #F4F4F5;
}

.querylimittext {
	font-family: sans-serif, Arial, Helvetica;
	font-size: 0.8em;
	color: #000000;
}

.permissiblevaluesquery {
	font-family: sans-serif, Arial, Helvetica;
	font-size: 0.9em;
	color: #000000;
}

#definelimitspanelfooter {
	padding-top: 0.3em;
	text-align: right;
}